---
import type { Languages } from "@/cv";
import Section from "../Section.astro";

const languages = Astro.props.languages as Languages;
---

<Section title={languages.title}>
  <ul>
    {
      languages.items.map(({ language, fluency }) => (
        <li>
          <span>{language}</span>
          <small>{fluency}</small>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    border-radius: 6px;
    background-color: #eee;
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.3rem 0.6rem;
    display: inline-flex;
    align-items: center;
    gap: 6px;
  }

  small {
    color: #555;
    font-size: 0.72rem;
    font-weight: 600;
  }
</style>
